#mainSideBar {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#topLogo {
  width: 115px;
}

#logoSpacing {
  height: 50px;
}

.itemUnselected {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.itemUnselectedText {
  color: white;
  margin-top: 5px !important;
}

.itemUnselectedIcon {
  color: white;
  margin-top: 5px !important;
}

.itemSelected {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 10% !important;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #f3f3f3 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.itemSelectedText {
  color: #db3b38;
  margin-top: 5px !important;
}

.itemSelectedIcon {
  color: #db3b38;
  margin-top: 5px !important;
}

#settingsIcon {
  position: absolute;
  bottom: 30px;
}
